<form action="/process" method="post">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
					<h1>Gallery</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button>Select all</button>
					<input type="submit" value="Process selected" />
				</div>
			</div>
		</div>
	</div>
<div class="container-fluid">
	<div class="row">
    <% var i = 0; thumbs.forEach(function(entry){ %>
			<div class="col-lg-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="/image/<%= entry.name %>">
						<div class="image text-center">
							<img class="img img-responsive full-width" src="<%= entry.thumb %>" />
						</div>
					</a>
					<div class="caption">
						<!--<input type="checkbox" id="image-<%= i %>" name="images[]" value="<%= entry.name %>" />-->
						<label for="image-<%= i %>" class="thumb-caption"><%= entry.name %></label>
					</div>
				</div>
			</div>
    <% i++; }); %>
		</div>
	</div>
</div>
</form>
